/* ukuran mobile */
@media (max-width: 600px) {
  .address h1 {
    font-size: 15px;
  }
  .address p {
    font-size: 10px;
  }
}

/* .carousel-item img {
  height: 500px;
  object-fit: cover;
  width: 100%;
} */

.carousel {
  aspect-ratio: 16 / 9;
}

html {
  scroll-padding-top: 80px;
}
